#home .page-content,
#home .intro {
  display: flex;
  flex-direction: column;
}

#home .page-content {
  gap: 50px;
}

#home .intro {
  gap: 10px;
}

#home .intro p:last-child {
  color: var(--text-secondary-dark, #303030);
  margin-top: 8px;
}
