.page-content,
#intro {
  display: flex;
  flex-direction: column;
}

.page-content {
  gap: 50px;
}

#intro {
  gap: 10px;
}

p:last-child {
  color: var(--text-secondary-dark, #303030);
  margin-top: 8px;
}
