#details a,
#details a:hover {
  color: var(--text-primary, #101010);
}

.callout {
  height: 430px;
  margin-bottom: 16px;
}

.callout img {
  width: 544px;
  height: 354px;
}

#info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#details {
  width: 60%;
}

.title {
  margin-bottom: 10px;
}

.btn-container {
  width: fit-content;
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 449px) {
  .callout {
    height: 330px;
  }
}

p.description {
  color: var(--text-secondary-light, #949494);
}
