#details a,
#details a:hover {
  color: var(--text-primary, #101010);
}

.card .callout {
  height: 430px;
  margin-bottom: 16px;
}

.card #info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card #details {
  width: 60%;
}

.card .title {
  margin-bottom: 8px;
}

@media screen and (max-width: 449px) {
  .card .callout {
    height: 330px;
  }
}

.card p.description {
  color: var(--text-secondary-light, #949494);
}
