button.filter {
  height: fit-content;
  padding: 6px 9px;
  border: 1px solid #c2baba;
  background-color: var(--surface-primary, #fff);
  color: var(--text-secondary-light, #949494);
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 9px;
}

button:hover,
button.active {
  background-color: #ededed8d;
}
