.insight {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: var(--surface-secondary, #ededed);
  position: relative;
}

.insight .tag {
  padding: 5px 10px;
  background-color: var(--text-secondary-light, #949494);
  color: var(--surface-secondary, #ededed);
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-size: 13px;
  border-radius: 10px;
  text-transform: uppercase;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
