nav {
  position: sticky;
  top: 80px;
  padding: 20px 30px;
  border-right: var(--surface-border, #eee) 1px solid;
  height: fit-content;
}

nav > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  text-align: right;
}

.nav-link a {
  color: var(--text-secondary-light, #949494);
  line-height: 22px;
  text-transform: capitalize;
}

.nav-link a:not(.sub-nav a) {
  font-size: 16px;
}

.nav-link.active a:not(.sub-nav a:not(.sub-nav .active a)) {
  color: var(--text-primary, #101010);
  font-weight: 600;
}

.nav-link a:hover {
  color: var(--text-secondary-dark, #303030);
  text-decoration: none;
}

nav button {
  margin-bottom: 20px;
  margin-left: auto;
  width: 45px;
}

@media screen and (max-width: 450px) {
  .nav-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 999px) {
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 42px;
    background-color: var(--surface-primary, #fff);
    z-index: 10;
  }

  nav > ul {
    margin: 0 auto;
    flex-direction: row;
    gap: 35px;
  }
}
