#stravafit #infograph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
}

#stravafit #infograph .insight:nth-child(3),
#stravafit #infograph .insight:nth-child(4) {
  grid-column: span 2;
}

#stravafit #features {
  display: flex;
  justify-content: space-between;
}

#stravafit #features img {
  margin-bottom: 10px;
}

#stravafit img.mobile,
#stravafit video.mobile {
  width: 250px;
  height: 530px;
}

#stravafit div.callout:has(.mobile) {
  gap: 30px;
}
