@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

:root {
  --text-primary: #101010;
  --text-link: #0099ff;
  --text-link-hover: #0088ff;
}

img {
  color: var(--text-primary, #101010);
  font-size: 0.9375rem;
  text-transform: lowercase;
}

p:not(p:last-child):not(p.tooltip):not(.card p),
ul:not(ul:last-child),
ol:not(ul:last-child),
.case-study img:not(img:last-child),
.case-study video:not(video:last-child),
div.callout:not(div.callout:last-child) {
  margin-bottom: 1.25rem;
}

a {
  color: var(--text-link, #0099ff);
  text-decoration: none;
}

a:hover {
  color: var(--text-link-hover, #0088ff);
  text-decoration: underline;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: initial;
}
